$sidebar-namespace: "bsbn";
$sidebar-bg: #212529 !default;
$sidebar-width: 250px;
$sidebar-width-compressed: 50px;
$sidebar-border-color: red;
$sidebar-hover-color: blue;
$sidebar-dismiss-color: #ced4da !default;
