/* DEFAULT DARK THEME */
/* TESTING */
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0;
  text-align: left;
  color: #000;
  background-color: #fff;
  overflow-x: hidden; }

.footer {
  display: block;
  min-height: 50px;
  max-height: 50px;
  line-height: 50px;
  border-top: 1px solid #000;
  color: #000;
  text-align: center; }

/*
    3 Stages
    Expanded = Normal
    Compress = Icons only, with Hover menu
    Collapsed = Overlay menu
*/
.bsbn-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch; }

.bsbn-content {
  width: 100%; }

.bsbn-sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #212529;
  overflow: auto; }
  .bsbn-sidebar .logo {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px red; }
    .bsbn-sidebar .logo img {
      width: 90%; }
    .bsbn-sidebar .logo .expanded {
      width: 90%; }
    .bsbn-sidebar .logo .compressed {
      display: none; }
  .bsbn-sidebar.active {
    left: 0; }

.bsbn-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out; }
  .bsbn-overlay .dismiss {
    display: none;
    position: absolute;
    left: 0;
    font-size: 2.25em;
    color: #ced4da; }
  .bsbn-overlay.active {
    display: block;
    opacity: 1; }
    .bsbn-overlay.active .dismiss {
      display: block;
      left: 250px; }

.bsbn-toggler {
  /*color: rgba(0, 0, 0, 0.5);*/
  padding: 0.25rem 0.75rem;
  margin: 0 0.25em;
  font-size: 1.25rem;
  line-height: 1;
  /*background-color: transparent;*/
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.25); }

.sidebar-nav {
  background-color: inherit; }
  .sidebar-nav li {
    background-color: inherit; }
  .sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: inherit; }
  .sidebar-nav .bsbn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sidebar-nav .bsbn-menu li + li {
      margin-top: 5px; }
    .sidebar-nav .bsbn-menu li:first-child {
      margin-top: 5px; }
    .sidebar-nav .bsbn-menu li:last-child {
      margin-bottom: 5px; }
    .sidebar-nav .bsbn-menu > li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative; }
      .sidebar-nav .bsbn-menu > li > ul {
        display: none; }
    .sidebar-nav .bsbn-menu a {
      position: relative;
      display: block;
      padding: 13px 15px;
      color: #adb5bd;
      outline-width: 0;
      transition: all .3s ease-out; }
    .sidebar-nav .bsbn-menu ul a {
      padding: 10px 15px 10px 30px; }
    .sidebar-nav .bsbn-menu ul ul a {
      padding: 10px 15px 10px 45px; }
    .sidebar-nav .bsbn-menu a:hover,
    .sidebar-nav .bsbn-menu a:focus,
    .sidebar-nav .bsbn-menu a:active {
      color: #fff;
      /*font-weight: bold;*/
      text-decoration: none;
      background: blue; }
    .sidebar-nav .bsbn-menu li.separator {
      min-height: 25px;
      border-bottom: solid 1px red; }
    .sidebar-nav .bsbn-menu li.has-arrow {
      position: relative; }
      .sidebar-nav .bsbn-menu li.has-arrow > a:first-child:after {
        position: absolute;
        content: '';
        width: .5em;
        height: .5em;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: initial;
        right: 1em;
        transform: rotate(-45deg) translate(0, -50%);
        transform-origin: top;
        top: 50%;
        transition: all .3s ease-out; }
      .sidebar-nav .bsbn-menu li.has-arrow:hover > a:first-child:after {
        transform: rotate(-135deg) translate(0, -50%); }
      .sidebar-nav .bsbn-menu li.has-arrow:hover ul {
        display: block; }

@media (min-width: 992px) {
  /*.bsbn-content {
        background-color: red;
    }*/
  .bsbn-sidebar {
    position: relative;
    left: 0;
    height: inherit;
    transition: none;
    box-shadow: none; }
    .bsbn-sidebar .logo {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: solid 1px red; }
      .bsbn-sidebar .logo img {
        width: 90%; }
      .bsbn-sidebar .logo .expanded {
        width: 90%; }
      .bsbn-sidebar .logo .compressed {
        display: none; }
    .bsbn-sidebar.active {
      min-width: 50px;
      max-width: 50px;
      overflow: initial; }
      .bsbn-sidebar.active .logo .expanded {
        display: none; }
      .bsbn-sidebar.active .logo .compressed {
        display: block; }
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu a {
        text-wrap: none;
        white-space: nowrap !important;
        padding-left: 5px;
        overflow: hidden; }
        .bsbn-sidebar.active .sidebar-nav .bsbn-menu a i {
          font-size: 2.25em; }
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu li {
        position: relative; }
        .bsbn-sidebar.active .sidebar-nav .bsbn-menu li.has-arrow > a:first-child:after {
          display: none; }
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu > li > ul {
        position: absolute;
        left: 100%;
        top: 0;
        min-width: 200px;
        border: solid 1px red;
        padding: 0 10px;
        z-index: 1001; }
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu > li:hover > ul {
        height: auto !important; }
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu > li:hover > ul,
      .bsbn-sidebar.active .sidebar-nav .bsbn-menu > li:hover > ul.collapse {
        display: block; }
  .bsbn-overlay.active {
    display: none; } }
